body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.shadow {
  top: 15%;
  left: 20%;
  z-index: 2;
  position: absolute;
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
}

.shadowtwo {
  top: 7%;
  z-index: 4;
  position: absolute;
  height: 250px;
  width: 2000px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* --------- tool section -----------*/

#logo {
  z-index: 5;
  margin-top: 2%;
  width: 50%;
}

a.carousel-prev {
  position: absolute;
  top: 25%;
  left: 19%;
  z-index: 10;
}

a.carousel-prev:hover {
  opacity: .5;
}

a.carousel-next:hover {
  opacity: .5;
}

a.carousel-prev img {
  height: 75px;
}

a.carousel-next img {
  height: 75px;
}

a.carousel-next {
  position: absolute;
  height: 75px;
  top: 25%;
  left: 77%;
  z-index: 10;
}

.tool-cards {
  z-index: 3;
}

.tool-cards img {
  margin-left: 2%;
}

.first-tool {
  border: 2px solid #523212;
  background-color: #523212;
  text-align: center;
}

.first-tool img {
  position: relative;
  top: 105px;
}

.hammer img {
  position: relative;
  top: 105px;
}

.instagram img {
  position: relative;
  top: 0px;
}

.second-tool {
  border: 2px solid #40230e;
  background-color: #40230e;
  text-align: center;
}

.second-tool img {
  position: relative;
  top: 105px;
}

.email img {
  position: relative;
  top: 0px;
}

.third-tool {
  border: 2px solid #341e0e;
  background-color: #341e0e;
  text-align: center;
}

.third-tool img {
  position: relative;
  top: 105px;
}

.gallery img {
  position: relative;
  top: 0px;
}

.fourth-tool {
  border: 2px solid #27190d;
  background-color: #27190d;
  text-align: center;
}

.fourth-tool img {
  position: relative;
  top: 105px;
}

.about img {
  position: relative;
  top: 0px;
}

.fifth-tool {
  border: 2px solid #180c01;
  background-color: #180c01;
  /* background-color: #ffffff; */
  text-align: center;
}

.fifth-tool img {
  position: relative;
  top: 105px;
}

.reviews img {
  position: relative;
  top: 0px;
}

/* --------- promise section -----------*/

.jumbotron {
  margin-top: -2%;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.tool-cards {
  font-size: 20px;
  text-align: center;
}

.tool-cards div {
  width: 16%;
  margin-left: 1%;
  height: 400px;
  display: inline-block;
  /* border: 2px solid #000000; */
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* --------- gallery section -----------*/

.instagram {
  /* display: none; */
  visibility: hidden;
  color: #523212;
}

.email {
  /* display: none; */
  visibility: hidden;
  color: #40230e;
}

.gallery {
  /* display: none; */
  visibility: hidden;
  color: #341e0e;
}

.about {
  /* display: none; */
  visibility: hidden;
  color: #27190d;
}

.reviews {
  /* display: none; */
  visibility: hidden;
  color: #180c01;
}

/* --------- contact section -----------*/

/* -------The Modal (background)-------*/

#about-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.about-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 4% 8% 4% 8%;
  border: 3px solid #333333;
  width: 60%;
  font-size: 20px;
  font-family: 'Tienne', serif;
}

#review-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.review-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5% 10% 5% 10%;
  border: 3px solid #333333;
  width: 65%;
  font-size: 20px;
  font-family: 'Tienne', serif;
}

.carousel-button div {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: 27px;
}

.carousel-button div.active {
  background-color: #444444;
}

#gallery-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.gallery-modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 4%;
  border: 3px solid #333333;
  width: 70%;
  font-size: 20px;
  font-family: 'Tienne', serif;
}

.gallery-modal-content img {
  padding: 10px;
  margin: 2%;
  height: 270px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-gal-set {
  display: block;
}

.first-gal-set {
  display: none;
}

.review-slide {
  display: none;
}

.review-slide.active {
  display: block;
}

.modal-button-left {
  width: 25%;
  margin: auto;
  display: block;
}

.modal-button-center {
  width: 25%;
  margin: auto;
  display: none;
}

.modal-button-right {
  width: 25%;
  margin: auto;
  display: none;
}

.quoter {
  font-family: 'Tienne', serif;
  font-size: 20px;
  float: right;
}

/* The Close Button */

.close {
  position: relative;
  color: #333333;
  /* float: left; */
  font-size: 35px;
  font-weight: bold;
  border: 2px solid #333333;
  left: -17%;
  padding: 5px;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}