body {
  /* background-image: url("images/concrete-texture.png"); */
  /* background-image: url("images/agsquare.png"); */
  /* background-image: url("images/p5.png"); */
  background-image: url("images/gplaypattern.png");
  overflow-x: hidden;
  overflow-y: hidden;
}

/* --------- modal section -----------*/

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */

.column {
  padding-top: 1%;
  float: left;
  width: 25%;
}

.column img {
  width: 90%;
  height: 200px;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  padding-left: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */

/* The Close Button */

.close {
  opacity: 1;
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */

.mySlides {
  display: none;
}

.mySlides img {
  height: 650px;
}

.review-slides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 20px 10px;
  position: absolute;
  top: 0;
}

/* Caption text */

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --------- tool section -----------*/

.jumbotron {
  /* border-bottom: 50px solid #555;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent; */
  /* -webkit-transform: skew(50deg); */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.jumbotron img {
  /* -webkit-transform: skew(-50deg); */
}

/* .jumbotron {
  margin-top: -5%;
  padding-top: 4%;
  padding-bottom: 10px;
  background-color: #ffffff;
  margin-left: 12%;
  margin-right: 12%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.jumbotron img {
  z-index: 5;
  width: 72%;
} */

#logo {
  z-index: 5;
  /* margin-top: 2%; */
  width: 50%;
}

.tool-cards {
  z-index: 3;
}

.tool-cards img {
  margin-left: 2%;
}

.first-tool {
  background-color: #523212;
  border: 5px solid #523212;
  /* background-color: transparent; */
  text-align: center;
}

.first-tool img {
  position: relative;
  top: 105px;
}

#hammer {
  text-align: center;
}

#hammer img {
  position: relative;
  top: 105px;
}

#lathe {
  text-align: center;
}

#twisty {
  text-align: center;
}

#chisel {
  text-align: center;
}

#saw {
  text-align: center;
}

.instagram img {
  position: relative;
  top: 0px;
}

.second-tool {
  background-color: #40230e;
  border: 5px solid #40230e;
  /* background-color: transparent; */
  text-align: center;
}

.second-tool img {
  position: relative;
  top: 105px;
}

.email img {
  position: relative;
  top: 0px;
}

.third-tool {
  background-color: #341e0e;
  border: 5px solid #341e0e;
  /* background-color: transparent; */
  text-align: center;
}

.third-tool img {
  position: relative;
  top: 105px;
}

.gallery img {
  position: relative;
  top: 0px;
}

.fourth-tool {
  background-color: #27190d;
  border: 5px solid #27190d;
  /* background-color: transparent; */
  text-align: center;
}

.fourth-tool img {
  position: relative;
  top: 105px;
}

.about img {
  position: relative;
  top: 0px;
}

.fifth-tool {
  background-color: #180c01;
  border: 5px solid #180c01;
  /* background-color: transparent; */
  text-align: center;
}

.fifth-tool img {
  position: relative;
  top: 105px;
}

.reviews img {
  position: relative;
  top: 0px;
}

/* --------- promise section -----------*/

.jumbotron {
  margin-top: -2%;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.tool-cards {
  font-size: 20px;
  text-align: center;
}

.tool-cards div {
  width: 14%;
  margin-left: 1%;
  height: 400px;
  display: inline-block;
  margin-top: 4%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  /* border: 2px solid #000000; */
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* --------- gallery section -----------*/

.instagram {
  /* display: none; */
  visibility: hidden;
  color: #523212;
}

.email {
  /* display: none; */
  visibility: hidden;
  color: #40230e;
}

.gallery {
  /* display: none; */
  visibility: hidden;
  color: #341e0e;
}

.about {
  /* display: none; */
  visibility: hidden;
  color: #27190d;
}

.reviews {
  /* display: none; */
  visibility: hidden;
  color: #180c01;
}

/* --------- contact section -----------*/

/* -------The Modal (background)-------*/

#about-modal {
  display: none;
}

.about-modal-content {
  width: 75%;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  padding: 75px 75px 75px 75px;
  margin: auto;
}

#review-modal {
  display: none;
}

.review-modal-content {
  width: 75%;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  padding: 75px 75px 75px 75px;
  margin: auto;
}

/* Modal Content */

/* #review-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .review-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 5% 10% 5% 10%;
  border: 3px solid #333333;
  width: 65%;
  font-size: 20px;
  font-family: 'Tienne', serif;
} */

/* #gallery-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .gallery-modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 4%;
  border: 3px solid #333333;
  width: 70%;
  font-size: 20px;
  font-family: 'Tienne', serif;
}

.gallery-modal-content img {
  padding: 10px;
  margin: 2%;
  height: 270px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
} */

.review-slide {
  display: none;
}

.review-slide.active {
  display: block;
}

.quoter {
  font-family: 'Tienne', serif;
  font-size: 20px;
  float: right;
}

/* Use a media query to add a breakpoint at 800px: */

@media screen and (max-width: 500px) {
  body {
    overflow-y: visible;
  }
  .jumbotron {
    margin-top: -2%;
    margin-bottom: 18%;
    padding-left: 0%;
    padding-top: 10%;
  }
  .tool-cards div:last {
    margin-bottom: 5%;
  }
  .tool-cards div {
    background-color: transparent;
    margin-top: 0;
    margin: 0;
    width: 50%;
    height: 175px;
    margin-bottom: 5px;
  }
  #logo {
    width: 100%;
    margin-left: 0%;
  }
  /*
  .first-tool img, .second-tool img, .third-tool img, .fourth-tool img, .fifth-tool img {
    display: none;
  }
  */
  .first-tool, .second-tool, .third-tool, .fourth-tool, .fifth-tool {
    background-color: transparent;
  }
  #hammer img, #lathe img, #twisty img, #saw img, #chisel img {
    visibility: hidden;
  }
  .instagram, .email, .about, .gallery, .reviews {
    visibility: visible;
    position: relative;
    top: -85px;
    display: block;
  }
}